html,
body {
    background: #f8f8f8;
}

[data-href] {
    cursor: pointer;
}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{text-decoration:none}
a:active,
a:hover {
  text-decoration: none;
  outline: 0;
  color:#333;
}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
body,
button,
input,
select,
textarea {
  font-size: 12px;
  font-family: "Droid Sans", "Droid Sans Fallback", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
button {
  border:none;
  outline: none;
}
.list-head {
    background: #fff;
    padding: 15px 18px 13px;
    position: relative;
    text-align: center;
}
.pageHeader{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

}
.topicImg {
    margin-top: 10px;
    position: relative;
    top:20px;

}
.imgbg {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
}
.imgbg:after {
    border-radius: 50%;
    border: 1px solid #eaeaea;
}
.msg {
    overflow: hidden;
}
.fontheader {
    margin: 10px 0 9px;
}
.fontheader:before {
    content: " ";
    display: table;
}
.fontheader:after {
    clear: both;
}
.title {
    font-size: 19px;
}
.description {
    color: #999;
    font-size: 12px;
    line-height: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 10px;
    display: block;
}
.normal:before {
    content: " ";
    display: table;
}
.normal {
    height: 30px;
    width: 65px;
    cursor: pointer;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    position: relative;
}
.normal:after {
    border-radius: 8px;
    line-height: 52px;
    text-align: center;
    font-size: 28px;
}
.follow {
    float:left;
    display: block;
    color: #3c76ff;
}
.follow:after {
    border: 1px solid #3c76ff;
    color: #3c76ff;
}
.cssafer {
  float:left;
  display: block;
  color: #999;
}
.cssafer:after {
  border: 1px solid #999;
  color: #999;
}
.trblBor {

}
.trblBor:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.operation {
    margin: 10px auto 0;
    width: 68px;
}
.operation:after {
    content: " ";
    display: table;
    clear: both;
}
.follow:after {
    border: 1px solid #3c76ff;
    color: #3c76ff;
}
.fansNum {
    position: relative;
    top: 30px;
}
.pageitem {
    padding: 12px;
    margin-bottom: 10px;
    background: #ffffff;
}
.pagelist {
    padding: 10px;
    background: #eeeeee;
}
#topicImg {
    width: 100%;
    height: 100%;
}

/*弹性布局容器——图片容器*/
.imgContainer{

}
/*弹性布局元素: 一行图片——3张*/
.imgRow {
    display: flex;

}

.imgItem{
  line-height: 0;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  width: 33%;
  margin: 0 1.5px 0 0;
}
.downloadApp {
    position: fixed;
    bottom: 0px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 100%;
    background: #eee;
    opacity: 0.5;
    font-weight: bold;
}
.content {
  background:#eee ;
}
/*头部改版*/
.mth-author {
  background: #fff;
  padding: 25px 18px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: relative;
}
.author-info {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
}
.author {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.headerMsg {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 8px;
  overflow: hidden;
}
.author-data {
  color: #999;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.HeaderOperation {
  width: 68px;
  margin-top: 10px;
}
.HeaderOperation:before{
  content: '';
  display: table;
}
.HeaderOperation:after{
  content: '';
  display: table;
}
.tips {
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  background: #000;
  color: #fff;
  position: fixed;
  bottom: 20px;
  left: 20%;
  z-index: 999;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

.mth-follow-toast {
  opacity: 0;
  line-height: 1.5;
  position:fixed;
  top: 60%;
  // left: 50%;
  // -webkit-transform: translate(-50%, -50%);
  //     -ms-transform: translate(-50%, -50%);
  //         transform: translate(-50%, -50%);
  margin-top: -52px;
  // padding: 15px 20px;
  padding: 6px 20px 6px 20px;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 4px;
  color: #fff;
  text-align: center;
  z-index: 0;
  font-size: 16px;
  transition: .6s;
  // display: none;
}
.mth-toast-show {
  transition: 0s;
  opacity: 1;
  z-index: 99;
}
.opacity{
  -webkit-animation: opacity 0.3s linear;
  animation: opacity 0.3s linear;
}
@-webkit-keyframes opacity {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes opacity {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.dropload-down {
  height: 50px;
  position: relative;
  overflow: hidden;
  font-size: 12px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.dropload-load {
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.dropload-load .loading {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin: 6px;
  border: 2px solid #666;
  border-bottom-color: transparent;
  vertical-align: middle;
  -webkit-animation: rotate 0.75s linear infinite;
  animation: rotate 0.75s linear infinite;
}
//详情页
.pageWrapper {
  margin: auto;
}
.mth-header {
  margin: 24px 18px 0;
  line-height: 1.5;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}
.mth-extra-info {
  margin: 11px 18px 18px;
  font-size: 14px;
  color: #999;
  height: 35px;
}
.auAticle {
  height: 35px;
  width: 35px;
  margin: 0 5px 0 0;
  background-size: cover;
  border-radius: 50%;
  position: relative;
}
.detail {
  display: inline-block;
}
.topicName {
  height: 22px;
  color: #333;
  font-size: 16px;
}
.info {
  font-size: 13px;
  color: #999;
}
.year {
  margin: 0 8px 0 0;
}
.mth-editor-content {
  margin: 0 18px;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 1.5;
  font-size: 17px;
}
.mth-extra-info .auAticle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.hrefName {
  word-wrap: break-word;
  word-break: break-all;
  text-decoration: none;
  font-weight: 400;
}
.mth-extra-info .detail div {
  display: block;
}
.mth-extra-info div {
  display: inline-block;
}
.author-level {
  display: inherit;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}